@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  height: 100vh;
  display: flow-root;

  background: rgba(235,233,249,1);
  background: -moz-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 51%, rgba(206,199,236,1) 55%, rgba(193,191,234,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,233,249,1)), color-stop(51%, rgba(216,208,239,1)), color-stop(55%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
  background: -webkit-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 51%, rgba(206,199,236,1) 55%, rgba(193,191,234,1) 100%);
  background: -o-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 51%, rgba(206,199,236,1) 55%, rgba(193,191,234,1) 100%);
  background: -ms-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 51%, rgba(206,199,236,1) 55%, rgba(193,191,234,1) 100%);
  background: linear-gradient(to right, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 51%, rgba(206,199,236,1) 55%, rgba(193,191,234,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 );
}

.cab{
  nargin-left: 13px;
}
.form{

}
.st{
  font-family: system-ui;
  margin-left: 13px;
}
button{
  margin-left: 15px;
  margin-top: 5px;
}
.bikeForm{

}
.bk{
  margin-top: 50px;
}
